.auth-layout {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  background: url('../assets/images/Background.svg');
  padding: 30px 198px 30px 80px;

  @media (max-width: 1400px) {
    padding: 30px;
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    justify-content: flex-start;
  }

  &__left {
    color: #fff;

    .logo {
      margin-bottom: 20px;
    }

    h1 {
      font-family: 'Poppins', sans-serif;
      text-align: left;
      font-size: 40px;
      font-weight: 500;
      line-height: 64px;
      margin-top: 15vh;
      margin-right: 50px;
      margin-bottom: 25px;
      max-width: 700px;

      @media (max-width: 1200px) {
        margin-top: 10vh;
        margin-right: 0;
      }

      @media (max-width: 576px) {
        font-size: 25px;
        font-weight: 500;
        line-height: 40px;
      }
    }

    .desc {
      font-size: 20px;
      font-weight: 500;
      line-height: 35px;
      max-width: 840px;
      margin-bottom: 55px;
      margin-right: 50px;

      @media (max-width: 1200px) {
        margin-right: 0;
      }

      @media (max-width: 576px) {
        font-size: 15px;
        line-height: 26px;
      }
    }

    .in-action {
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      margin-left: 10px;
    }

    .get-started {
      cursor: pointer;
      background: #fff;
      width: 320px;
      position: absolute;
      bottom: 30px;
      left: calc(50% - 160px);
      color: #0E1D40;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      height: 50px;
    }
  }

  &__form {
    position: relative;
    height: 100%;
    min-width: 680px;
    max-width: 680px;
    margin-left: auto;
    display: flex;
    align-items: center;

    @media (max-width: 1024px) {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    @media (max-width: 420px) {
      display: block;
    }
  }
}
